# 로컬 개발용
VITE_API_URL=http://localhost:8080
#Docker용
VITE_API_URL=
VITE_PORTONE_STORE_ID=store-28624605-b37f-40fb-ba9f-69743c2e9a93
VITE_PORTONE_CHANNEL_KEY=channel-key-6199b772-9f3a-4bef-9bc2-42b021c9e9e9